<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Is It Rick?</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ base_url + 'static/style.css' }}">
    </head>

    <body>
        <div id="topBar">
            <table>
                <tr>
                    <td>
                        <a class="noUnderline" href="/"><h1 id="title">Is It Rick?</h1></a>
                    </td>
                    <td>
                        <h2 id="slogan">Fast, free Rick Roll detector</h2>
                    </td>
                </tr>
                <tr>
                    <td id="navigationButtons">
                        <a class="navigationButton"
                            href="{{ base_url }}">Homepage</a>
                        <a class="navigationButton"
                            href="{{ base_url + 'register-rick-roll/' }}">Register rick roll</a>
                        <a class="navigationButton"
                            href="javascript: goToSignInPage()">Sign in</a>
                        <a class="navigationButton"
                            href="{{ base_url + 'sign-up' }}">Sign up</a>
                    </td>
                </tr>
            </table>
        </div>

        <div id="mainDiv">{% block content %} {% endblock %}</div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.min.js"></script>
    <!--<script src="https://unpkg.com/spnr/cdn/latest/spnr.min.js"></script>-->
    <script src="{{ base_url + 'static/spnr.min.js' }}"></script>
    <script src="{{ base_url + 'static/localConfig.js' }}"></script>
    <script src="{{ base_url + 'static/config.js' }}"></script>
    <script src="{{ base_url + 'static/urls.js' }}"></script>
    <script src="{{ base_url + 'static/common.js' }}"></script>
    
    {% block scripts %}{% endblock %}
</html>