{% extends 'layout.html' %}
{% block title %}Manage{% endblock %}

{% block content %}
<h2>Manage Rick Rolls</h2>
{% if signed_in %}
    <p>Recently submitted Rick Rolls:</p>
    {% for rick_roll in rick_rolls %}
        {% if not rick_roll.verified %}
            <div class="rickRollDiv" onclick="viewRickRoll({{ rick_roll.id }})">
                <a href="javascript:viewRickRoll({{ rick_roll.id }})">
                    {{ rick_roll.url.value }}</a>
                <label style="float: right">Submitted at
                    <span class="timestamp">{{ rick_roll.submit_timestamp }}</span></label>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p>You must be <a href="javascript:goToSignInPage()">signed in</a>
    to manage Rick Rolls</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}