<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div id="topBar">
            <table>
                <tr>
                    <td>
                        <h1>{{ app_name }}</h1>
                    </td>
                    <td>
                        <h2 id="slogan">{{ app_slogan }}</h2>
                    </td>
                </tr>
            </table>
        </div>

        <div id="mainDiv">
            <h2>Register a Rick Roll</h2>
            <br>
            <br>
            <input id="urlInput" placeholder="URL to register">
            <button onclick="registerRickRoll()">Register URL</button>
            
        </div>
    </body>

    <script src="https://unpkg.com/spnr/cdn/latest/spnr.min.js"></script>
    <script src="static/urls.js"></script>
    <script src="static/common.js"></script>
    <script src="static/homepage_script.js"></script>
</html>