* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
    background-color: #f6f6f6;
    margin: 0px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.noUnderline {
    text-decoration: none;
}

#warningParagraph {
    color: red;
}

#topBar {
    background-color: #ce2b16;
    display: block;
    margin: 0px;
    padding: 10px;
}

#topBar td {
    padding: 0px 20px 0px 20px;
    vertical-align: center;
}

#registerRickRollButton {
    text-decoration: none;
    display: block;
    border: 1px solid white;
    padding: 3px;
    font-size: 20px;
    margin-bottom: 3px; /* for some reason the button always looks slightly too far down */
}

#slogan {
    margin-bottom: 3px; /* for some reason the slogan always looks slightly too far down */
}

#topBar * {
    color: #f6f6f6;
    background: none;
    margin: 0px;
}

#mainDiv {
    width: 80vw;
    height: 70vh;

    /* center div */
    /* needs work - div easily goes too high on smallish screens */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 10px;
}