/* Global stuff */

:root {
    --primary: #ce2b16;
    --secondary: #f6f6f6
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
    background-color: var(--secondary);
    margin: 0px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

p, input, button {
    font-size: 16px;
}

button {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    padding: 3px;
    border-radius: 5px;
}

.noUnderline {
    text-decoration: none;
}

#warningParagraph {
    color: red;
}

/* Top bar */

#topBar {
    background-color: var(--primary);
    display: block;
    max-height: 25vh;
}

#title, #slogan {
    color: var(--secondary);
    background: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#topBar td {
    padding: 0px 20px 0px 20px;
    vertical-align: center;
}

#navigationBar {
    padding: 10px 20px 5px 20px;
}

#navigationBar a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    margin: 0px 1px 0px 2px;
    padding: 3px;
    color: var(--primary);
    background-color: #f6f6f6;
}

/* Main page content */

#mainDiv {
    width: 80vw;
    height: 70vh;

    margin: auto;
    margin-top: 10px;

    background-color: white;
    padding: 10px;
}

.rickRollDiv {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #dddddd;
}

.timestamp {
    visibility: hidden;
}