:root {
    --darkRed: #ce2b16;
    --lightGrey: #f6f6f6
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
    background-color: var(--lightGrey);
    margin: 0px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

p, input, button {
    font-size: 16px;
}

button {
    background-color: var(--darkRed);
    color: var(--lightGrey);
    border: 2px solid var(--lightGrey);
    padding: 3px;
    border-radius: 5px;
}

.noUnderline {
    text-decoration: none;
}

#warningParagraph {
    color: red;
}

#topBar {
    background-color: var(--darkRed);
    display: block;
}

#title, #slogan {
    color: var(--lightGrey);
    background: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#topBar td {
    padding: 0px 20px 0px 20px;
    vertical-align: center;
}

.navigationButton {
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    padding: 3px;
    margin-top: 10px;
    color: var(--darkRed);
    background-color: #f6f6f6;
}

#mainDiv {
    width: 80vw;
    height: 60vh;

    /* center div */
    /* needs work - div easily goes too high on smallish screens */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 10px;
}